.add-todo-form button {
  height: 40px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.add-todo-form input.task {
  text-align: start;
  width: 400px;
  height: 40px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
